<h1>New repair</h1>

<% form_for(@repair) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :car %><br />
    <%= f.select :car, ["Buick", "Cadillac"] %>
  </p>
  <p>
    <%= f.label :repair_date %><br />
    <%= f.date_select :repair_date, :include_blank => true %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', repairs_path %>